$blue: #0E5FAD;
$dark: #051F37;
$yell: #FFC808;


%eu-regular {
  font-family: 'Europe-regular',
  sans-serif;
  font-weight: 400;
}

%eu-italic {
  font-family: 'Europe-regitalic',
  sans-serif;
  font-weight: 400;
}

%eu-bold {
  font-family: 'Europe-bold',
  sans-serif;
  font-weight: 700;
}

%eu-bolditalic {
  font-family: 'Europe-bolditalic',
  sans-serif;
  font-weight: 700;
}